{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Hello World!</h1>

      <p class="subtitle">Welcome to {{title}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
            nice to meet you!
          </p>
          {{#each array}}  
          <input type="checkbox" id={{this}} name="check1" value="checktest"> 
          <label for="check1"> {{this}}</label><br>
          {{/each}}       
          First name: <input id="first_name">   
            <button class="aui-button" onclick="buttonClick()">lets goo</button>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
